@charset "utf-8";

@font-face {
    font-family: 'Bolkit-Rayek';
    font-weight: 400; 
    font-style: normal; 
    src: local(Bolkit-Rayek),
    local(Bolkit-Rayek),
    url(../font/Bolkit-Rayek.woff) format('woff'),
    url(../font/Bolkit-Rayek.woff2) format('woff2');
}
@font-face {
    font-family: 'Welcomweb-Regular';
    font-weight: 400; 
    font-style: normal; 
    src: local(Welcomeweb-Regular),
    local(Bolkit-Rayek),
    url(../font/Welcomeweb-Regular.woff) format('woff'),
    url(../font/Welcomeweb-Regular.woff2) format('woff2');
}



html {
    height: 100vh; /* set viewport constraint */
    min-height: 100%; /* enforce height */
}
body{touch-action: pan-y;height:100vh;height:-webkit-fill-available;color:#333;font-family:'Noto Serif KR',-apple-system, '맑은 고딕', 'malgun gothic', 'AppleGothicNeoSD', 'Apple SD 산돌고딕 Neo',serif,sans-serif;background-color:#fff}
@supports (-webkit-touch-callout: none) {
    body{min-height: -webkit-fill-available}
  }

.img_g{display:block;width:100%}
.tit_g{display:block;font-weight:normal;font-size:5.128vw;line-height:6.153vw;color:#6A994E;text-align:center;font-family:'Bolkit-Rayek', serif}


.wrap_visual{display:flex;flex-direction:column;align-items:center;justify-content:center;padding-top:11.538vw}
.txt_visual{font-size:11.538vw;line-height:13vw;color:#6A994E;font-family:'Bolkit-Rayek', serif}
.area_intro .thumb_visual{position:relative;width:61.538vw;margin-top:10.256vw}
.area_intro .thumb_visual:before{position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,0.02);content:''}
.area_intro .txt_intro{padding-top:7.692vw;font-size:3.33vw;line-height:4.871vw;color:#111;letter-spacing:-0.03em;font-family:'Welcomweb-Regular',serif;text-align:center}
.area_intro .inner_intro{display:block;padding-top:3vw;text-align:center}

.area_invite{display:block;margin:0 6.410vw;padding-top:14vw;font-size:3.33vw;line-height:5.128vw;color:#111;letter-spacing:-0.03em;text-align:center}
.area_invite .emph_date{display:block;padding-top:4.102vw;margin-bottom:9.23vw;font-weight:500;font-size:4.102vw;line-height:5.897vw;color:#121212;text-align:center}
.area_invite .txt_invite{margin:0 4.615vw;font-size:3.7vw;line-height:1.9em;color:#000;letter-spacing:-0.02em;text-align:center}
.area_invite .txt_invite + .txt_invite{padding-top:4.102vw}
.area_name{margin:17vw 17.948vw 0;padding:4.358vw 0;text-align:center;;border-top:1px solid rgba(0,0,0,0.1);border-bottom:1px solid rgba(0,0,0,0.1)}
.area_name [class*="name_"]{display:block;font-size:3.66vw;line-height:4.871vw;color:#111;letter-spacing:-0.03em}
.area_name .name_bride{padding-top:3.076vw}
.area_name .txt_relation{display:inline-block;font-size:3.5vw;line-height:4.358vw;margin:0.256vw 0 0 0;min-width:8.2vw;text-align:center;vertical-align:top}
.txt_small{display:inline-block;font-size:2.4vw;line-height:4.871vw;vertical-align:top}
.area_photo{position:relative;padding-top:34vw}

.area_photo .wrap_photo{position:relative;padding-top:13.33vw}
.area_photo .txt_photo{padding-top:8.66vw;font-size:3.61vw;line-height:5.55vw;text-align:center}
.slide_photo .photo_wedding{display:-webkit-box;display:flex;overflow:hidden;height:150vw;position:relative;justify-content:center;align-items:center}
.slide_photo .photo_wedding:after{position:absolute;left:0;right:0;top:0;bottom:0;background-color:rgba(0,0,0,0.04);content:''}
.slide_photo .flicking-pagination{padding:2vw;font-size:4vw;color:#222;line-height:6vw;font-family:NotoSansKR;text-align:right}
.photo_wedding.type_start{align-items:flex-start}
.photo_wedding.type_end{align-items:flex-end}
.photo_wedding.type_h100 .wrap_img{height:100%}
.photo_wedding.type_h100 .img_g{width:auto;height:100%} 

.area_calendar{padding-top:34vw;text-align:center;font-family:'Noto Serif KR', serif}
.area_calendar .txt_month{display:inline-block;margin-top:13.33vw;font-weight:500;font-size:4.44vw;line-height:6.66vw;color:#222;vertical-align:top}
.area_calendar .wrap_calendar{padding:6vw 7.692vw 0}
.tbl_month{table-layout:fixed;width:100%;margin:0 auto}
.tbl_month tr th{font-size:3.589vw;padding:6.11vw 1.94vw;font-weight:400}
.tbl_month tr td{font-size:3.589vw;padding:2.5vw 1.94vw;font-family:'Noto Serif KR', serif;font-weight:400;color:#2d2206}
.tbl_month .emph_sun{color:#ff6262}
.tbl_month .emph_day{position:relative}
.tbl_month .emph_day:before{position:absolute;z-index:-1;top:50%;left:50%;width:28px;height:28px;border-radius:50%;border:1px solid #6A994E;transform:translate(-50%, -50%);content:''}
.area_calendar .info_day{margin:40px 13vw 0;padding:22px 0;font-weight:500;font-family:'Noto Serif KR',serif;font-size:3.89vw;line-height:1.5;text-align:center;border-top:1px solid rgba(0,0,0,0.1);border-bottom:1px solid rgba(0,0,0,0.1)}
.area_calendar .txt_date{display:block;font-weight:500}
.area_calendar .emph_time{display:block;padding-top:6px}

.area_location{padding-top:34vw}
.area_location .box_map{margin-top:15vw;height:270px;font-size:3.076vw;line-height:4.615vw;background-color:#F2BF80;text-align:center}
.box_map .root_daum_roughmap_landing{width:100%!important}
.box_map .root_daum_roughmap .wrap_controllers{box-sizing:border-box}
.root_daum_roughmap .cont{display:none}

.info_address{padding-top:11vw;text-align:center}
.info_address .txt_address{font-weight:500;font-size:3.73vw;line-height:1.72em;color:#121212}
.info_address .txt_call{padding-top:2.05vw;font-size:3.7vw;line-height:4.61vw;color:#121212}

.list_location{padding:13vw 4.615vw 0;font-family:'Noto Serif KR',serif}
.list_location > li{overflow:hidden}
.list_location > li + li{padding-top:9vw}
.list_location .tit_info{float:left;position:relative;min-width:11.11vw;padding-right:2.5vw;font-weight:400;font-size:3.89vw;font-weight:500;line-height:1.7em;color:#333}
.list_location .tit_info:before{position:absolute;right:0;top:1.55vw;width:1px;height:3.61vw;line-height:1.73em;background-color:#333;content:''}
.list_location .wrap_txt{overflow:hidden;padding-left:2.77vw;font-weight:400;font-size:3.61vw;line-height:1.73em}
.list_location .desc_info{display:block;font-size:3.78vw;line-height:1.7em;word-break:keep-all;word-wrap:normal}
.list_location > li .desc_info + .desc_info{padding-top:1.11vw}
.list_location .list_bus{margin-top:-1px}
.list_location .list_bus li + li{padding-top:3.05vw}
.list_location .list_bus .desc_info + .desc_info{padding-top:0.55vw}


.area_location{padding-top:34vw}

.area_heart{margin:0 6.410vw;padding-top:34vw}
.area_heart .tit_g{line-height:7.692vw}
.area_heart .tit_g svg{display:inline-block;vertical-align:top}
.area_heart .info_call{margin-bottom:13.33vw;padding:13.33vw 0;border-bottom:1px solid rgba(0,0,0,0.06)}

.list_call li + li{margin-top:11vw}
.list_call .tit_call{display:block;margin-bottom:4vw;font-weight:500;font-size:3.589vw;line-height:5.384vw;letter-spacing:-0.02em}
.list_call .desc_call{font-size:0}
.list_call .wrap_call{display:inline-block;width:50%;font-size:3.589vw;line-height:7.3vw;letter-spacing:-0.02em;vertical-align:top}
.list_call .wrap_call .mark_g{display:inline-block;width:7.3vw;height:7.3vw;margin-right:6px;font-size:3.589vw;text-align:center;border-radius:50%;background-color:#f4f4f4;vertical-align:top}
.list_call .txt_name{display:inline-block;font-size:3.589vw;line-height:7.3vw;vertical-align:top}
.list_call .link_call{display:inline-block;padding-left:2.564vw;line-height:7.3vw;color:#333;vertical-align:top}
.list_call .txt_call{display:inline-block;font-size:3.33vw;text-decoration:underline;vertical-align:top}
.list_call .type_small .wrap_call .mark_g{font-size:3vw}

.info_bank{margin-bottom:13vw}
.info_bank .group_bank + .group_bank{margin-top:5vw}
.info_bank .head_bank{display:block;position:relative;height:10.256vw;padding:0 4.615vw;font-weight:normal;font-size:3.589vw;line-height:10.256vw;background-color:#f4f4f4;border-radius:5px}
.info_bank .box_bank{display:none;padding:5.128vw 4.615vw;border-radius:0 0 5px 5px;background-color:#fff}
.info_bank .box_bank .txt_bank{display:block;position:relative;margin-bottom:2.82vw;font-size:3.589vw;line-height:4.871vw;letter-spacing:0.01em}
.info_bank .box_bank .num_bank{display:inline-block;margin-top:4px;vertical-align:top}
.info_bank .link_copy{position:absolute;right:0;bottom:0;font-size:3.33vw;color:#333;line-height:4.871vw;text-decoration:underline;vertical-align:top}

.head_bank .ico_arrow{position:absolute;right:4.44vw;top:4.72vw;width:0;height:0;border-top:6px solid rgba(0,0,0,0.2);/* 화살표 */border-left:5px solid transparent;border-right:5px solid transparent}
.info_bank .group_bank.on .box_bank{display:block}
.info_bank .group_bank.on .ico_arrow{-webkit-transform:rotate(180deg);transform:rotate(180deg)}


.list_location .desc_info{overflow:hidden}
.case_bus{float:left}
.num_bus{display:block;overflow:hidden;padding-left:4px}

.wrap_footer{padding:9.72vw 6.94vw 5.55vw;font-family:-apple-system, '맑은 고딕', 'malgun gothic', 'AppleGothicNeoSD', 'Apple SD 산돌고딕 Neo',serif,sans-serif;background-color:#E8E5E3;border-top:1px solid rgba(0,0,0,0.01)}
.info_square{display:block;padding-top:3.89vw;color:#767270;font-size:3.05vw;line-height:5.55vw;text-align:center}
.info_square .txt_name{display:inline-block;line-height:5.55vw;vertical-align:top}
.list_share{font-size:0}
.list_share li + li{margin-top:2.22vw}
.list_share li{width:41.05vw;margin:0 auto}
.list_share .link_share{display:inline-block;font-size:0;vertical-align:top}
.list_share .link_share svg{display:inline-block;width:4.8vw;margin-top:0.55vw;vertical-align:top}
.list_share .txt_share{display:inline-block;padding-left:0.83vw;font-size:3.33vw;line-height:5.83vw;vertical-align:top}

.link_smallsquare{display:block;text-decoration:underline}

.order_flower{margin:3vw 6.41vw 0;padding:13vw 0 17vw;font-family:'Noto Serif KR',serif;border-top:1px solid rgba(0,0,0,0.06)}
.order_flower .wrap_tit{text-align:center}
.order_flower .tit_flower{display:inline-block;font-weight:normal;color:#000;font-size:3.73vw;line-height:1.5em;vertical-align:top;letter-spacing:0.02em}
.order_flower .txt_flower{padding-top:6vw;font-size:3.67vw;color:#444;line-height:1.73em;text-align:center}
.order_flower .wrap_btn{display:block;padding-top:4vw;text-align:center}
.order_flower .wrap_btn .link_flower{display:inline-block;padding:3vw 0 0;font-size:3.66vw;color:#2d2206;border-bottom:1px solid #2d2206;vertical-align:top}

.box_booth{display:block;margin:20vw 5.333vw 0;padding:6.667vw 0 0;font-weight:normal;font-size:3.8vw;line-height:1.6em;font-family:'Noto Serif KR',serif;color:#333;text-align:center}
.box_booth .tit_booth{display:inline-block;position:relative;font-weight:500;font-size:3.7vw;line-height:1.5em;color:#1a1a1a;vertical-align:top}
.box_booth .tit_booth:before{position:absolute;z-index:-1;bottom:0;left:-1.067vw;right:-1.067vw;height:2.4vw;background-color:#eaeaea;content:''}
.box_booth .desc_booth{display:block;padding-top:7vw;font-size:3.7vw;line-height:1.7em;color:#666;letter-spacing:-0.02em}


@media screen and (min-width:640px){
    .box_booth{margin:128px 34px 0;padding:42px 0 0;font-weight:normal;font-size:25px}
    .box_booth .tit_booth{font-size:24px}
    .box_booth .tit_booth:before{left:-6.829px;right:-6.829px;height:15.36px}
    .box_booth .desc_booth{padding-top:30px;font-size:24px}
    .info_bank .group_bank .ico_arrow{right:28px;top:30px}
    .tit_g{font-size:33px;line-height:39px}
    .wrap_visual{padding-top:10px}
    .wrap_main, .wrap_footer{width:640px;margin:0 auto;box-sizing:border-box}
    .area_intro{width:640px;padding-top:74px}
    
    .txt_visual{font-size:70px;line-height:83px}
    .area_intro .thumb_visual{width:394px;margin-top:65px}
    .area_intro .txt_intro{padding-top:49px;font-size:21px;line-height:31.174px}
    .area_intro .inner_intro{display:block;padding-top:19.2px}

    .area_invite{margin:0 41px;padding-top:89.6px;font-size:21px;line-height:33px}
    .area_invite .emph_date{padding-top:26px;margin-bottom:59px;font-size:26px;line-height:37px}
    .area_invite .txt_invite{margin:0 29px;font-size:23px;line-height:39px}
    .area_invite .txt_invite + .txt_invite{padding-top:26px}
    .area_name{margin:108.8px 114px 0;padding:28px 0}
    .area_name [class*="name_"]{font-size:21px;line-height:31px}
    .area_name .name_bride{padding-top:19px}
    .area_name .txt_relation{font-size:19px;line-height:27px;margin:2px 0 0 0;min-width:52px}
    .txt_small{font-size:15px;line-height:31px}
    .area_photo{padding-top:217.6px}
    .area_photo .wrap_photo{padding-top:85px}
    .area_photo .txt_photo{padding-top:55px;font-size:23px;line-height:35px}

    .slide_photo .photo_wedding{height:960px}
    .slide_photo .flicking-pagination{padding:19px;font-size:24px;line-height:38px}

    .list_location{padding:83.2px 41px 53px}
    .list_location .tit_info{min-width:71px;padding-right:26px;line-height:37px;font-size:25px}
    .list_location .tit_info:before{height:23px;top:9.92px}
    .list_location .wrap_txt{padding-left:17px;font-size:25px;line-height:37px}
    .list_location .desc_info{font-size:24px;line-height:37px}
    .list_location .list_bus li + li{padding-top:57.6px}
    .list_location .list_bus .desc_info + .desc_info{padding-top:3px}
   
    .area_calendar{padding-top:217.6px}
    .area_calendar .txt_month{margin-top:85.312px;font-size:28px;line-height:43px}
    .area_calendar .wrap_calendar{padding:38.4px 39px 0}
    .tbl_month tr th{font-size:23px;padding:39px 12px}
    .tbl_month tr td{font-size:23px;padding:16px 12px}
    .tbl_month .emph_day:before{width:42px;height:42px}
    .area_calendar .info_day{margin:40px 83.2px 0;padding:22px 0;font-size:25px}

    .area_location{padding-top:217.6px}
    .area_location .box_map{height:270px;margin-top:96px;font-size:12px;line-height:30px;background-color:#F2BF80;text-align:center}
    .box_map .root_daum_roughmap_landing{width:100%!important}
    .box_map .root_daum_roughmap .wrap_controllers{box-sizing:border-box}
    .info_address{padding-top:70.4px}
    .info_address .txt_address{font-size:21px;line-height:31px}
    .info_address .txt_call{padding-top:13px;font-size:19px;line-height:29px}

    .area_heart{margin:0 41px;padding-top:217.6px}
    .area_heart .tit_g{line-height:49px}
    .area_heart .tit_g svg{width:50px;height:50px}
    .area_heart .info_call{margin-bottom:85px;padding:85px 0}

    .list_call li + li{margin-top:70.4px}
    .list_call .tit_call{margin-bottom:21px;font-size:23px;line-height:21px}
    .list_call .wrap_call{font-size:23px;line-height:47px}
    .list_call .wrap_call .mark_g{width:47px;height:47px;margin-right:6px;font-size:23px}
    .list_call .type_small .wrap_call .mark_g{font-size:19.2px}
    .list_call .txt_name{font-size:23px;line-height:47px;vertical-align:top}
    .list_call .link_call{padding-left:16px;line-height:47px}
    .list_call .txt_call{font-size:21px}

    .info_bank{margin-bottom:83.2px}
    .info_bank .group_bank + .group_bank{margin-top:32px}
    .info_bank .head_bank{height:65px;padding:0 30px;font-weight:normal;font-size:23px;line-height:65px}
    .info_bank .box_bank{padding:33px 30px}
    .info_bank .box_bank .txt_bank{margin-bottom:18px;font-size:23px;line-height:32px}
    .info_bank .link_copy{font-size:21px;line-height:32px}
    .info_bank .box_bank .num_bank{margin:0 12px 0 8px}

    .wrap_footer{padding:62px 44px 35px}
    .list_share .link_share svg{width:30px;margin-top:3px}
    .list_share .txt_share{padding-left:5px;font-size:19px;line-height:37px}
    .list_share .link_share{font-size:21px}
    .list_share li{width:243px}
    .list_share li + li{margin-top:14px}
    .info_square{padding-top:25px;font-size:19px;line-height:35px}
    .info_square .txt_name{line-height:35px}
    .txt_g{font-size:22px}

    .order_flower{margin:19px 41px 0;padding:83.2px 0 108px}
    .order_flower .tit_flower{font-size:24px}
    .order_flower .txt_flower{padding-top:38px;font-size:23px}
    .order_flower .wrap_btn{padding-top:25px}
    .order_flower .wrap_btn .link_flower{padding:19px 0 0;font-size:23px}
}
